<main class="container mt-5">
  <h1 class="title">Shopping Cart</h1>
   {{#each this.cart.itemList as |item|}}
    <div class="cart-item d-flex align-items-center">
      <Beverage 
        @beverage={{item}}
        @isIndex={{false}} 
      />
      <input
        type="number"
        class="ml-auto key-input"
        value={{item.count}}
        {{on "focus" this.disableKeyInput}}
        {{on "input" (fn this.updateItemCount item)}}
      >
    </div>
  {{/each}}
  <section class="w-50 ml-auto text-right mb-5">
    <div class="row">
      <span class="col">Subtotal</span>
      <span class="col">{{currency this.subtotal}}</span>
    </div>
    <div class="row">
      <span class="col">Discount</span>
      <span class="col">- {{currency this.discount}}</span>
    </div>
    <div class="row">
      <span class="col">Total</span>
      <span class="col">{{currency this.total}}</span>
    </div>
  </section>

  <LinkTo @route="checkout">
    <button type="button" class="btn btn-success float-right" {{on "click" this.removeAll}}>
      Check out
    </button>
  </LinkTo>
</main>